/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
        $font-family: 'Roboto, monospace',
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500),
        $display-4: mat-typography-level(100px, 90px, 800),
        $subheading-1: mat-typography-level(40px, 50px, 800)
        // : mat-typography-level(16px, 24px, 300)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* Colors for icons */
.material-icons.icon-color { color: orange; }


/* Background color */
.bg-blue { background-color: darkblue; color: white; }

/* Link styles */
a:link { color: #45a5ff; text-decoration: none;}
a:hover { color: orange; text-decoration: none;}
a:visited { color: lightsteelblue; text-decoration: none;}
a:visited:hover { color: orange; text-decoration: none;}
