<h2 class="mat-caption">Angular task 5, Anu Kakko</h2>
<h1 class="mat-display-4">Helsinki Public Transport
  <br>
  Route Search
  <i class="material-icons md-48">directions_bus tram directions_subway</i>
</h1>




<div class="container" style="display: flex; flex-direction: row;">
  <nav>
    <ul>
          <li style="list-style: none; ">
            <i class="material-icons md-36 icon-color">dashboard</i>
            <a [routerLink]="['setup']" class="mat-subheading-1">
              Setup
            </a>
          </li>

    </ul>
  </nav>

  <nav>
    <ul>
      <li style="list-style: none; ">
        <i class="material-icons md-36 icon-color">directions</i>
        <a [routerLink]="['routes']" class="mat-subheading-1">
          Routes
        </a>
      </li>

    </ul>
  </nav>

</div>
